openapi: '3.0.2'

info:
  title: AVM Server
  version: '0.3.0'

servers:
  - url: https://autogram.slovensko.digital/api/v1
  - url: http://localhost:3000/api/v1

tags:
  - name: Mobile2App
  - name: Desktop2App - Extension
  - name: Desktop2App - Client
  - name: Minimal Integration
  - name: QR code
  - name: Integration

paths:
  /documents:
    post:
      tags:
        - Mobile2App
        - Desktop2App - Extension
      security:
        - Header: [ ]
        - Parameter: [ ]
      summary: Client app posts document along with some parameters to Server.
      description: Client app posts document along with some parameters to Server. Server encrypts the document using the provided EncryptionKey and stores it on a disk.
      requestBody:
        content:
          "application/json":
            schema:
              $ref: "#/components/schemas/DocumentPostRequestBody"
      parameters:
        - name: Accept
          in: header
          schema:
            type: string
            default: application/json
          required: true
          allowEmptyValue: false
      responses:
        200:
          description: Server stored the data and returned GUID so the client can further access the data.
          content:
            "application/json":
              schema:
                $ref: "#/components/schemas/CreateDocumentResponseBody"
          headers:
            Last-Modified:
              schema:
                type: string
                pattern: '^(Mon|Tue|Wed|Thu|Fri|Sat|Sun), \d{2} (Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec) \d{4} \d{2}:\d{2}:\d{2} GMT$'
                example: 'Tue, 15 Oct 2019 12:45:26 GMT'
              description: Datetime of the last-modified attribute of the uploaded file. Useful for polling with the GET document request.
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestErrorResponseBody"
        401:
          description: EncryptionKey not provided
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EncryptionKeyNotProvidedErrorResponseBody"
        422:
          description: Unprocessable content
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseBody"
        500:
          description: Internal error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalErrorResponseBody"
        502:
          description: Bad gateway - internal error on AVM microservice
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadGatewayErrorResponseBody"

  /documents/{guid}:
    get:
      tags:
        - Desktop2App - Extension
      security:
        - Header: [ ]
        - Parameter: [ ]
      summary: External system requests signed document at the end of the process.
      description: This endpoint is also designed for polling with the `If-Modified-Since` header (`TODO`).
      parameters:
        - name: guid
          in: path
          schema:
            type: string
          required: true
          example: bfde97b4-ee27-47bc-97e2-5164ed96a92a
        - name: If-Modified-Since
          in: header
          required: false
          schema:
            type: string
            pattern: '^(Mon|Tue|Wed|Thu|Fri|Sat|Sun), \d{2} (Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec) \d{4} \d{2}:\d{2}:\d{2} GMT$'
            example: 'Tue, 15 Oct 2019 12:45:26 GMT'
        - name: Accept
          in: header
          schema:
            type: string
            default: application/json
          required: true
          allowEmptyValue: false
      responses:
        200:
          description: Requested document with an array of its signers
          content:
            "application/json":
              schema:
                $ref: "#/components/schemas/GetDocumentResponseBody"
          headers:
            Last-Modified:
              schema:
                type: string
                pattern: '^(Mon|Tue|Wed|Thu|Fri|Sat|Sun), \d{2} (Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec) \d{4} \d{2}:\d{2}:\d{2} GMT$'
                example: 'Tue, 15 Oct 2019 12:45:26 GMT'
              description: "`TODO` Datetime of the last-modified attribute of the requeste document."
        304:
          description: Requested document has not been modified since `If-Modified-Since` header
          headers:
            Last-Modified:
              schema:
                type: string
                pattern: '^(Mon|Tue|Wed|Thu|Fri|Sat|Sun), \d{2} (Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec) \d{4} \d{2}:\d{2}:\d{2} GMT$'
                example: 'Tue, 15 Oct 2019 12:45:26 GMT'
              description: Datetime of the last-modified attribute of the requeste document.
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestErrorResponseBody"
        401:
          description: EncryptionKey not provided
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EncryptionKeyNotProvidedErrorResponseBody"
        403:
          description: EncryptionKey mismatch
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EncryptionKeyMismatchErrorResponseBody"
        404:
          description: Not found
        422:
          description: Unprocessable content
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseBody"
        500:
          description: Internal error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalErrorResponseBody"
        502:
          description: Bad gateway - internal error on AVM microservice
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadGatewayErrorResponseBody"

    delete:
      tags:
        - Desktop2App - Extension
      security:
        - Header: [ ]
        - Parameter: [ ]
      summary: External system requests signed document at the end of the process.
      description: This endpoint is also designed for polling with the `If-Modified-Since` header.
      parameters:
        - name: guid
          in: path
          schema:
            type: string
          required: true
          example: aedf97b4-ee27-47bc-97e2-5164ed96a92a
      responses:
        204:
          description: Document deleted
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestErrorResponseBody"
        401:
          description: EncryptionKey not provided
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EncryptionKeyNotProvidedErrorResponseBody"
        403:
          description: EncryptionKey mismatch
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EncryptionKeyMismatchErrorResponseBody"
        404:
          description: Not found
        422:
          description: Unprocessable content
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseBody"
        500:
          description: Internal error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalErrorResponseBody"
        502:
          description: Bad gateway - internal error on AVM microservice
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadGatewayErrorResponseBody"

  /documents/{guid}/visualization:
    get:
      tags:
        - Desktop2App - Client
        - Mobile2App
      security:
        - Header: [ ]
        - Parameter: [ ]
      summary: Client app requests encrypted document to visualize it.
      parameters:
        - name: guid
          in: path
          schema:
            type: string
          required: true
          example: bfde97b4-ee27-47bc-97e2-5164ed96a92a
        - name: Accept
          in: header
          schema:
            type: string
            default: application/json
          required: true
          allowEmptyValue: false
      responses:
        200:
          description: OK
          content:
            "application/json":
              schema:
                $ref: "#/components/schemas/DocumentVisualizationResponseBody"
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestErrorResponseBody"
        401:
          description: EncryptionKey not provided
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EncryptionKeyNotProvidedErrorResponseBody"
        403:
          description: EncryptionKey mismatch
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EncryptionKeyMismatchErrorResponseBody"
        404:
          description: Not found
        422:
          description: Unprocessable content
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseBody"
        500:
          description: Internal error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalErrorResponseBody"
        502:
          description: Bad gateway - internal error on AVM microservice
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadGatewayErrorResponseBody"

  /documents/{guid}/validation:
    get:
      tags:
        - Mobile2App
      security:
        - Header: [ ]
        - Parameter: [ ]
      summary: Client app requests a signature validation report of the document.
      parameters:
        - name: guid
          in: path
          schema:
            type: string
          required: true
          example: bfde97b4-ee27-47bc-97e2-5164ed96a92a
        - name: Accept
          in: header
          schema:
            type: string
            default: application/json
          required: true
          allowEmptyValue: false
      responses:
        200:
          description: Validation report
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DocumentValidationResponseBody"
        204:
          description: Document is not signed yet, no content response.
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestErrorResponseBody"
        401:
          description: EncryptionKey not provided
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EncryptionKeyNotProvidedErrorResponseBody"
        403:
          description: EncryptionKey mismatch
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EncryptionKeyMismatchErrorResponseBody"
        404:
          description: Not found
        422:
          description: Unprocessable content
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseBody"
        500:
          description: Internal error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalErrorResponseBody"
        502:
          description: Bad gateway - internal error on AVM microservice
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadGatewayErrorResponseBody"

  /documents/{guid}/datatosign:
    post:
      tags:
        - Mobile2App
        - Desktop2App - Client
      security:
        - Header: [ ]
        - Parameter: [ ]
      summary: Client app gets datatosign based on provided signing certificate.
      description: Client app posts signing certificate to the server. Server decrypts the encrypted document from disk, computes DataToSign and returns it along exact signing time in milliseconds. The whole response object is later required for POST /sign request.
      parameters:
        - name: guid
          in: path
          schema:
            type: string
          required: true
          example: bfde97b4-ee27-47bc-97e2-5164ed96a92a
        - name: Accept
          in: header
          schema:
            type: string
            default: application/json
          required: true
          allowEmptyValue: false
      requestBody:
        content:
          "application/json":
            schema:
              $ref: "#/components/schemas/DataToSignRequestBody"
      responses:
        200:
          description: Computed DataToSign and exact SigningTime.
          content:
            "application/json":
              schema:
                $ref: "#/components/schemas/DataToSignStructure"
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestErrorResponseBody"
        401:
          description: EncryptionKey not provided
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EncryptionKeyNotProvidedErrorResponseBody"
        403:
          description: EncryptionKey mismatch
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EncryptionKeyMismatchErrorResponseBody"
        404:
          description: Not found
        422:
          description: Unprocessable content
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseBody"
        500:
          description: Internal error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalErrorResponseBody"
        502:
          description: Bad gateway - internal error on AVM microservice
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadGatewayErrorResponseBody"

  /documents/{guid}/sign:
    post:
      tags:
        - Mobile2App
        - Desktop2App - Client
      security:
        - Header: [ ]
        - Parameter: [ ]
      summary: Create signed document using the SignedData obtained from client.
      parameters:
        - name: guid
          in: path
          schema:
            type: string
          required: true
          example: bfde97b4-ee27-47bc-97e2-5164ed96a92a
        - name: returnSignedDocument
          in: query
          schema:
            type: boolean
            description: Inidcation whether to return signed document in the response. Default to true. Is useful when signing document for external system.
            default: true
          required: false
        - name: Accept
          in: header
          schema:
            type: string
            default: application/json
          required: true
          allowEmptyValue: false
      requestBody:
        content:
          "application/json":
            schema:
              $ref: "#/components/schemas/SignRequestBody"
      responses:
        200:
          description: |
            Document was sucessfuly signed, can be obtained via GET signed request, and is also returned in the response.

            When `"returnSignedDocument": false` Document.Content is empty.
          content:
            "application/json":
              schema:
                $ref: "#/components/schemas/SignDocumentResponseBody"
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestErrorResponseBody"
        401:
          description: EncryptionKey not provided
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EncryptionKeyNotProvidedErrorResponseBody"
        403:
          description: EncryptionKey mismatch
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EncryptionKeyMismatchErrorResponseBody"
        404:
          description: Not found
        409:
          description: Signature invalid
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvalidSignatureErrorResponseBody"
        422:
          description: Unprocessable content
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseBody"
        500:
          description: Internal error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalErrorResponseBody"
        502:
          description: Bad gateway - internal error on AVM microservice
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadGatewayErrorResponseBody"

  /integrations:
    post:
      tags:
        - Integration
        - Minimal Integration
      summary: Integration registers itself at the server
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PostIntegrationRequestBody"
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PostIntegrationResponse"

  /devices:
    post:
      tags:
        - Integration
        - Minimal Integration
      summary: Device registers itself at the server
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PostDeviceRequestBody"
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PostDeviceResponse"

  /device-integrations:
    post:
      tags:
        - Integration
        - Minimal Integration
      security:
        - Device JWT: []
      summary: Device registers itself for receiving sign requests (push notification) from given integration
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PostDeviceIntegrationsRequestBody"
      responses:
        204:
          description: OK

    get:
      tags:
        - Integration
      security:
        - Device JWT: []
      summary: Integration retrieves a list of paired devices
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetDeviceIntegrationsResponseBody"

  /device-integrations/{integration_id}:
    delete:
      tags:
        - Integration
      security:
        - Device JWT: []
      summary: Integration deletes device from its subscribers
      parameters:
        - name: integration_id
          in: path
          description: Identifier of the integration
          example: 0d939eb1-8e14-41e5-9c7e-05e77641cc7b
          required: true
          allowEmptyValue: false
      responses:
        204:
          description: OK
        404:
          description: Not found

  /integration-devices:
    get:
      tags:
        - Integration
      security:
        - Integration JWT: []
      summary: Integration retrieves a list of connected devices
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetIntegrationDevicesResponseBody"

  /integration-devices/{device_id}:
    delete:
      tags:
        - Integration
      security:
        - Integration JWT: []
      summary: Integration deletes device from its subscribers
      parameters:
        - name: device_id
          in: path
          description: Identifier of the device
          example: 03de5319-a40d-48ea-b4fb-29d11e7017bb
          required: true
          allowEmptyValue: false
      responses:
        204:
          description: OK
        404:
          description: Not found

  /sign-request:
    post:
      tags:
        - Integration
        - Minimal Integration
      security:
        - Integration JWT: []
      summary: Integration sends a sign request (push notification) to all paired signing devices
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PostSignRequestBody"
      responses:
        200:
          description: OK

  /qr-code:
    get:
      tags:
        - QR code
      description: |
        Example: `https://autogram.slovensko.digital/api/v1?guid=e7e95411-66a1-d401-e063-0a64dbb6b796&key=EeESAfZQh9OTf5qZhHZtgaDJpYtxZD6TIOQJzRgRFgQ%3D&pushkey=R%2FrfN%2Bz129w1H2iftbr1GOKXdC3OxSJU9PZeHs%2BW7ts%3D&integration=eyJhbGciOiJFUzI1NiJ9.eyJzdWIiOiI3OGQ5MWRlNy0xY2MyLTQwZTQtOWE3MS0zODU4YjRmMDMxOWQiLCJleHAiOjE3MTI5MDk3MjAsImp0aSI6IjAwZTAxN2Y1LTI4MTAtNDkyNS04ODRlLWNiN2FhZDAzZDFhNiIsImF1ZCI6ImRldmljZSJ9.7Op6W2BvbX2_mgj9dkz1IiolEsQ1Z2a0AzpS5bj4pcG3CJ4Z8j9W3RQE95wrAj3t6nmd9JaGZSlCJNSV_myyLQ`

        <img src="data:image/svg+xml;base64, PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCFET0NUWVBFIHN2ZyBQVUJMSUMgIi0vL1czQy8vRFREIFNWRyAxLjEvL0VOIiAiaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkIj4KPHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIKd2lkdGg9IjEwNjhweCIgaGVpZ2h0PSIxMDY4cHgiIHZpZXdCb3g9IjAgMCAxMDY4IDEwNjgiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDEwNjggMTA2OCIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+CjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDY4IiBoZWlnaHQ9IjEwNjgiIGZpbGw9InJnYigyNTUsMjU1LDI1NSkiIC8+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMjQsMjQpIj48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgxMDgsMCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgxMzIsMCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgxNDQsMCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgyMDQsMCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgyNDAsMCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgyNTIsMCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgyNjQsMCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgzMTIsMCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgzMjQsMCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgzMzYsMCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgzNjAsMCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgzNzIsMCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgzODQsMCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgzOTYsMCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg0MDgsMCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg0MjAsMCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg0NTYsMCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg1MDQsMCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg1NTIsMCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg2MDAsMCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg2MTIsMCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg2MjQsMCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg2NjAsMCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg2ODQsMCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg2OTYsMCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg3MzIsMCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg3ODAsMCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg4MDQsMCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg4MTYsMCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg4MjgsMCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg4NDAsMCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg4NTIsMCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg4NjQsMCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg4ODgsMCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg5MTIsMCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg5NiwxMikgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgyMDQsMTIpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMjE2LDEyKSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDIyOCwxMikgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgyNTIsMTIpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMjY0LDEyKSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDI4OCwxMikgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgzMTIsMTIpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMzQ4LDEyKSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDM2MCwxMikgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgzNzIsMTIpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMzk2LDEyKSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDQwOCwxMikgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg0NDQsMTIpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNDU2LDEyKSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDQ2OCwxMikgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg0ODAsMTIpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNDkyLDEyKSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDUwNCwxMikgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg1MTYsMTIpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNTUyLDEyKSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDU3NiwxMikgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg2MTIsMTIpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNjM2LDEyKSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDY0OCwxMikgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg2NzIsMTIpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNjg0LDEyKSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDY5NiwxMikgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg3MjAsMTIpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNzMyLDEyKSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDc0NCwxMikgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg3NjgsMTIpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNzgwLDEyKSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDgwNCwxMikgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg4MTYsMTIpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoODQwLDEyKSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDg1MiwxMikgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg4NjQsMTIpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoODg4LDEyKSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDkwMCwxMikgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg5NiwyNCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgxMzIsMjQpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMTU2LDI0KSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDE2OCwyNCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgxOTIsMjQpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMjA0LDI0KSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDIxNiwyNCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgyNjQsMjQpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMjc2LDI0KSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDI4OCwyNCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgzMDAsMjQpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMzk2LDI0KSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDQ1NiwyNCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg1MDQsMjQpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNTE2LDI0KSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDUyOCwyNCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg1NzYsMjQpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNTg4LDI0KSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDYxMiwyNCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg2NDgsMjQpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNjYwLDI0KSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDY4NCwyNCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg3MjAsMjQpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNzkyLDI0KSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDgwNCwyNCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg4MjgsMjQpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoODc2LDI0KSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDg4OCwyNCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg5NiwzNikgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgxMjAsMzYpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMTMyLDM2KSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDE4MCwzNikgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgxOTIsMzYpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMjE2LDM2KSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDIyOCwzNikgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgyNTIsMzYpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMjc2LDM2KSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDMxMiwzNikgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgzMjQsMzYpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMzYwLDM2KSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDM5NiwzNikgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg0MDgsMzYpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNDIwLDM2KSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDQzMiwzNikgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg0NDQsMzYpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNDgwLDM2KSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDQ5MiwzNikgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg1MjgsMzYpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNTQwLDM2KSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDU2NCwzNikgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg1NzYsMzYpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNjAwLDM2KSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDYxMiwzNikgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg2MjQsMzYpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNjYwLDM2KSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDc0NCwzNikgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg3NjgsMzYpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNzgwLDM2KSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDgyOCwzNikgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg4NDAsMzYpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoOTAwLDM2KSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDEwOCw0OCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgxMjAsNDgpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMTQ0LDQ4KSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDE1Niw0OCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgxNjgsNDgpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMTgwLDQ4KSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDE5Miw0OCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgyMTYsNDgpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMjI4LDQ4KSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDI0MCw0OCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgyNTIsNDgpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMjY0LDQ4KSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDI3Niw0OCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgyODgsNDgpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMzAwLDQ4KSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDMyNCw0OCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgzMzYsNDgpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMzQ4LDQ4KSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDM2MCw0OCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgzNzIsNDgpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMzg0LDQ4KSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDM5Niw0OCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg0MjAsNDgpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNDMyLDQ4KSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDQ0NCw0OCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg1MDQsNDgpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNTE2LDQ4KSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDUyOCw0OCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg1NjQsNDgpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNTg4LDQ4KSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDYyNCw0OCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg2MzYsNDgpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNjQ4LDQ4KSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDY2MCw0OCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg2NzIsNDgpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNjg0LDQ4KSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDY5Niw0OCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg3MjAsNDgpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNzQ0LDQ4KSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDc1Niw0OCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg3NjgsNDgpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoODE2LDQ4KSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDgyOCw0OCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg4NjQsNDgpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoODc2LDQ4KSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDg4OCw0OCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgxMDgsNjApIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMTgwLDYwKSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDIyOCw2MCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgzMDAsNjApIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMzM2LDYwKSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDM4NCw2MCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgzOTYsNjApIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNDU2LDYwKSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDQ5Miw2MCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg1MTYsNjApIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNTQwLDYwKSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDU2NCw2MCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg2MjQsNjApIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNjcyLDYwKSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDY4NCw2MCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg3MzIsNjApIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNzY4LDYwKSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDg0MCw2MCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg4NTIsNjApIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoODc2LDYwKSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDkwMCw2MCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg5Niw3Mikgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgxMjAsNzIpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMTQ0LDcyKSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDE2OCw3Mikgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgxOTIsNzIpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMjE2LDcyKSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDI0MCw3Mikgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgyNjQsNzIpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMjg4LDcyKSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDMxMiw3Mikgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgzMzYsNzIpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMzYwLDcyKSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDM4NCw3Mikgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg0MDgsNzIpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNDMyLDcyKSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDQ1Niw3Mikgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg0ODAsNzIpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNTA0LDcyKSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDUyOCw3Mikgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg1NTIsNzIpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNTc2LDcyKSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDYwMCw3Mikgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg2MjQsNzIpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNjQ4LDcyKSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDY3Miw3Mikgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg2OTYsNzIpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNzIwLDcyKSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDc0NCw3Mikgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg3NjgsNzIpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNzkyLDcyKSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDgxNiw3Mikgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg4NDAsNzIpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoODY0LDcyKSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDg4OCw3Mikgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg5MTIsNzIpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoOTYsODQpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMTIwLDg0KSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDEzMiw4NCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgxNDQsODQpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMTU2LDg0KSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDE2OCw4NCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgxODAsODQpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMjE2LDg0KSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDI4OCw4NCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgzMDAsODQpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMzM2LDg0KSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDM4NCw4NCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgzOTYsODQpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNDIwLDg0KSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDQ2OCw4NCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg0ODAsODQpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNTI4LDg0KSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDU0MCw4NCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg1NzYsODQpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNTg4LDg0KSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDYyNCw4NCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg2NzIsODQpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNjk2LDg0KSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDcwOCw4NCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg3NDQsODQpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNzU2LDg0KSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDc2OCw4NCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg3ODAsODQpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoODE2LDg0KSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDg0MCw4NCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg4NTIsODQpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoODY0LDg0KSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDg4OCw4NCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgwLDk2KSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDcyLDk2KSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDk2LDk2KSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDEyMCw5Nikgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgxNTYsOTYpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMjA0LDk2KSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDIxNiw5Nikgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgyNDAsOTYpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMjUyLDk2KSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDI3Niw5Nikgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgzMDAsOTYpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMzEyLDk2KSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDMyNCw5Nikgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgzMzYsOTYpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMzQ4LDk2KSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDM2MCw5Nikgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgzNzIsOTYpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMzg0LDk2KSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDQwOCw5Nikgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg0MjAsOTYpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNDMyLDk2KSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDQ0NCw5Nikgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg1MTYsOTYpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNTQwLDk2KSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDU2NCw5Nikgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg1NzYsOTYpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNTg4LDk2KSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDYwMCw5Nikgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg2MjQsOTYpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNjM2LDk2KSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDY0OCw5Nikgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg2NjAsOTYpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNjcyLDk2KSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDY4NCw5Nikgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg3MjAsOTYpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNzMyLDk2KSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDc0NCw5Nikgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg3NTYsOTYpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNzkyLDk2KSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDgyOCw5Nikgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg5MDAsOTYpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoOTEyLDk2KSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDkyNCw5Nikgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg5MzYsOTYpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoOTcyLDk2KSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDk4NCw5Nikgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg5OTYsOTYpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoOTYsMTA4KSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDEwOCwxMDgpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMTIwLDEwOCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgxNDQsMTA4KSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDI0MCwxMDgpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMjY0LDEwOCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgzMDAsMTA4KSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDMyNCwxMDgpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMzM2LDEwOCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgzNDgsMTA4KSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDM2MCwxMDgpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMzcyLDEwOCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgzOTYsMTA4KSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDQwOCwxMDgpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNDIwLDEwOCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg0MzIsMTA4KSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDQ1NiwxMDgpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNDY4LDEwOCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg0ODAsMTA4KSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDQ5MiwxMDgpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNTA0LDEwOCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg1MTYsMTA4KSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDU0MCwxMDgpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNTUyLDEwOCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg1NjQsMTA4KSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDU3NiwxMDgpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNTg4LDEwOCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg2MDAsMTA4KSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDYzNiwxMDgpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNjQ4LDEwOCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg2OTYsMTA4KSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDc1NiwxMDgpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoODE2LDEwOCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg5MjQsMTA4KSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDkzNiwxMDgpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoOTcyLDEwOCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg5ODQsMTA4KSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDEwMDgsMTA4KSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDAsMTIwKSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDEyLDEyMCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg2MCwxMjApIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNzIsMTIwKSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDg0LDEyMCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg5NiwxMjApIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMTY4LDEyMCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgxODAsMTIwKSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDE5MiwxMjApIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMjA0LDEyMCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgyMjgsMTIwKSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDI0MCwxMjApIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMjUyLDEyMCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgzMTIsMTIwKSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDMyNCwxMjApIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMzM2LDEyMCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgzNjAsMTIwKSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDM3MiwxMjApIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNDA4LDEyMCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg0MzIsMTIwKSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDQ1NiwxMjApIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNTA0LDEyMCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg1MTYsMTIwKSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDUyOCwxMjApIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNTQwLDEyMCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg1NTIsMTIwKSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDU3NiwxMjApIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNjg0LDEyMCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg2OTYsMTIwKSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDcyMCwxMjApIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNzMyLDEyMCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg3NDQsMTIwKSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDc2OCwxMjApIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoODA0LDEyMCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg4MTYsMTIwKSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDgyOCwxMjApIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoODQwLDEyMCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg4ODgsMTIwKSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDkyNCwxMjApIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoOTM2LDEyMCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg5NjAsMTIwKSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDk3MiwxMjApIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoOTk2LDEyMCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgxMDA4LDEyMCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgwLDEzMikgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgxMiwxMzIpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMjQsMTMyKSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDYwLDEzMikgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg4NCwxMzIpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMTgwLDEzMikgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgyMDQsMTMyKSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDIyOCwxMzIpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMjc2LDEzMikgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgyODgsMTMyKSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDMyNCwxMzIpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMzM2LDEzMikgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgzNDgsMTMyKSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDM3MiwxMzIpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMzg0LDEzMikgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgzOTYsMTMyKSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDQyMCwxMzIpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNDMyLDEzMikgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg0ODAsMTMyKSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDQ5MiwxMzIpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNTA0LDEzMikgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg1MTYsMTMyKSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDU0MCwxMzIpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNTUyLDEzMikgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg1ODgsMTMyKSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhb
[...]
