openapi: '3.0.2'

info:
  title: AVM Server
  version: '0.3.0'

servers:
  - url: https://autogram.slovensko.digital/api/v1
  - url: http://localhost:3000/api/v1

tags:
  - name: Mobile2App
  - name: Desktop2App - Extension
  - name: Desktop2App - Client
  - name: Minimal Integration
  - name: QR code
  - name: Integration

paths:
  /documents:
    post:
      tags:
        - Mobile2App
        - Desktop2App - Extension
      security:
        - Header: [ ]
        - Parameter: [ ]
      summary: Client app posts document along with some parameters to Server.
      description: Client app posts document along with some parameters to Server. Server encrypts the document using the provided EncryptionKey and stores it on a disk.
      requestBody:
        content:
          "application/json":
            schema:
              $ref: "#/components/schemas/DocumentPostRequestBody"
      parameters:
        - name: Accept
          in: header
          schema:
            type: string
            default: application/json
          required: true
          allowEmptyValue: false
      responses:
        200:
          description: Server stored the data and returned GUID so the client can further access the data.
          content:
            "application/json":
              schema:
                $ref: "#/components/schemas/CreateDocumentResponseBody"
          headers:
            Last-Modified:
              schema:
                type: string
                pattern: '^(Mon|Tue|Wed|Thu|Fri|Sat|Sun), \d{2} (Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec) \d{4} \d{2}:\d{2}:\d{2} GMT$'
                example: 'Tue, 15 Oct 2019 12:45:26 GMT'
              description: Datetime of the last-modified attribute of the uploaded file. Useful for polling with the GET document request.
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestErrorResponseBody"
        401:
          description: EncryptionKey not provided
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EncryptionKeyNotProvidedErrorResponseBody"
        422:
          description: Unprocessable content
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseBody"
        500:
          description: Internal error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalErrorResponseBody"
        502:
          description: Bad gateway - internal error on AVM microservice
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadGatewayErrorResponseBody"

  /documents/{guid}:
    get:
      tags:
        - Desktop2App - Extension
      security:
        - Header: [ ]
        - Parameter: [ ]
      summary: External system requests signed document at the end of the process.
      description: This endpoint is also designed for polling with the `If-Modified-Since` header (`TODO`).
      parameters:
        - name: guid
          in: path
          schema:
            type: string
          required: true
          example: bfde97b4-ee27-47bc-97e2-5164ed96a92a
        - name: If-Modified-Since
          in: header
          required: false
          schema:
            type: string
            pattern: '^(Mon|Tue|Wed|Thu|Fri|Sat|Sun), \d{2} (Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec) \d{4} \d{2}:\d{2}:\d{2} GMT$'
            example: 'Tue, 15 Oct 2019 12:45:26 GMT'
        - name: Accept
          in: header
          schema:
            type: string
            default: application/json
          required: true
          allowEmptyValue: false
      responses:
        200:
          description: Requested document with an array of its signers
          content:
            "application/json":
              schema:
                $ref: "#/components/schemas/GetDocumentResponseBody"
          headers:
            Last-Modified:
              schema:
                type: string
                pattern: '^(Mon|Tue|Wed|Thu|Fri|Sat|Sun), \d{2} (Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec) \d{4} \d{2}:\d{2}:\d{2} GMT$'
                example: 'Tue, 15 Oct 2019 12:45:26 GMT'
              description: "`TODO` Datetime of the last-modified attribute of the requeste document."
        304:
          description: Requested document has not been modified since `If-Modified-Since` header
          headers:
            Last-Modified:
              schema:
                type: string
                pattern: '^(Mon|Tue|Wed|Thu|Fri|Sat|Sun), \d{2} (Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec) \d{4} \d{2}:\d{2}:\d{2} GMT$'
                example: 'Tue, 15 Oct 2019 12:45:26 GMT'
              description: Datetime of the last-modified attribute of the requeste document.
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestErrorResponseBody"
        401:
          description: EncryptionKey not provided
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EncryptionKeyNotProvidedErrorResponseBody"
        403:
          description: EncryptionKey mismatch
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EncryptionKeyMismatchErrorResponseBody"
        404:
          description: Not found
        422:
          description: Unprocessable content
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseBody"
        500:
          description: Internal error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalErrorResponseBody"
        502:
          description: Bad gateway - internal error on AVM microservice
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadGatewayErrorResponseBody"

    delete:
      tags:
        - Desktop2App - Extension
      security:
        - Header: [ ]
        - Parameter: [ ]
      summary: External system requests signed document at the end of the process.
      description: This endpoint is also designed for polling with the `If-Modified-Since` header.
      parameters:
        - name: guid
          in: path
          schema:
            type: string
          required: true
          example: aedf97b4-ee27-47bc-97e2-5164ed96a92a
      responses:
        204:
          description: Document deleted
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestErrorResponseBody"
        401:
          description: EncryptionKey not provided
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EncryptionKeyNotProvidedErrorResponseBody"
        403:
          description: EncryptionKey mismatch
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EncryptionKeyMismatchErrorResponseBody"
        404:
          description: Not found
        422:
          description: Unprocessable content
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseBody"
        500:
          description: Internal error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalErrorResponseBody"
        502:
          description: Bad gateway - internal error on AVM microservice
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadGatewayErrorResponseBody"

  /documents/{guid}/visualization:
    get:
      tags:
        - Desktop2App - Client
        - Mobile2App
      security:
        - Header: [ ]
        - Parameter: [ ]
      summary: Client app requests encrypted document to visualize it.
      parameters:
        - name: guid
          in: path
          schema:
            type: string
          required: true
          example: bfde97b4-ee27-47bc-97e2-5164ed96a92a
        - name: Accept
          in: header
          schema:
            type: string
            default: application/json
          required: true
          allowEmptyValue: false
      responses:
        200:
          description: OK
          content:
            "application/json":
              schema:
                $ref: "#/components/schemas/DocumentVisualizationResponseBody"
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestErrorResponseBody"
        401:
          description: EncryptionKey not provided
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EncryptionKeyNotProvidedErrorResponseBody"
        403:
          description: EncryptionKey mismatch
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EncryptionKeyMismatchErrorResponseBody"
        404:
          description: Not found
        422:
          description: Unprocessable content
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseBody"
        500:
          description: Internal error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalErrorResponseBody"
        502:
          description: Bad gateway - internal error on AVM microservice
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadGatewayErrorResponseBody"

  /documents/{guid}/validation:
    get:
      tags:
        - Mobile2App
      security:
        - Header: [ ]
        - Parameter: [ ]
      summary: Client app requests a signature validation report of the document.
      parameters:
        - name: guid
          in: path
          schema:
            type: string
          required: true
          example: bfde97b4-ee27-47bc-97e2-5164ed96a92a
        - name: Accept
          in: header
          schema:
            type: string
            default: application/json
          required: true
          allowEmptyValue: false
      responses:
        200:
          description: Validation report
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DocumentValidationResponseBody"
        204:
          description: Document is not signed yet, no content response.
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestErrorResponseBody"
        401:
          description: EncryptionKey not provided
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EncryptionKeyNotProvidedErrorResponseBody"
        403:
          description: EncryptionKey mismatch
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EncryptionKeyMismatchErrorResponseBody"
        404:
          description: Not found
        422:
          description: Unprocessable content
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseBody"
        500:
          description: Internal error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalErrorResponseBody"
        502:
          description: Bad gateway - internal error on AVM microservice
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadGatewayErrorResponseBody"

  /documents/{guid}/datatosign:
    post:
      tags:
        - Mobile2App
        - Desktop2App - Client
      security:
        - Header: [ ]
        - Parameter: [ ]
      summary: Client app gets datatosign based on provided signing certificate.
      description: Client app posts signing certificate to the server. Server decrypts the encrypted document from disk, computes DataToSign and returns it along exact signing time in milliseconds. The whole response object is later required for POST /sign request.
      parameters:
        - name: guid
          in: path
          schema:
            type: string
          required: true
          example: bfde97b4-ee27-47bc-97e2-5164ed96a92a
        - name: Accept
          in: header
          schema:
            type: string
            default: application/json
          required: true
          allowEmptyValue: false
      requestBody:
        content:
          "application/json":
            schema:
              $ref: "#/components/schemas/DataToSignRequestBody"
      responses:
        200:
          description: Computed DataToSign and exact SigningTime.
          content:
            "application/json":
              schema:
                $ref: "#/components/schemas/DataToSignStructure"
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestErrorResponseBody"
        401:
          description: EncryptionKey not provided
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EncryptionKeyNotProvidedErrorResponseBody"
        403:
          description: EncryptionKey mismatch
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EncryptionKeyMismatchErrorResponseBody"
        404:
          description: Not found
        422:
          description: Unprocessable content
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseBody"
        500:
          description: Internal error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalErrorResponseBody"
        502:
          description: Bad gateway - internal error on AVM microservice
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadGatewayErrorResponseBody"

  /documents/{guid}/sign:
    post:
      tags:
        - Mobile2App
        - Desktop2App - Client
      security:
        - Header: [ ]
        - Parameter: [ ]
      summary: Create signed document using the SignedData obtained from client.
      parameters:
        - name: guid
          in: path
          schema:
            type: string
          required: true
          example: bfde97b4-ee27-47bc-97e2-5164ed96a92a
        - name: returnSignedDocument
          in: query
          schema:
            type: boolean
            description: Inidcation whether to return signed document in the response. Default to true. Is useful when signing document for external system.
            default: true
          required: false
        - name: Accept
          in: header
          schema:
            type: string
            default: application/json
          required: true
          allowEmptyValue: false
      requestBody:
        content:
          "application/json":
            schema:
              $ref: "#/components/schemas/SignRequestBody"
      responses:
        200:
          description: |
            Document was sucessfuly signed, can be obtained via GET signed request, and is also returned in the response.

            When `"returnSignedDocument": false` Document.Content is empty.
          content:
            "application/json":
              schema:
                $ref: "#/components/schemas/SignDocumentResponseBody"
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestErrorResponseBody"
        401:
          description: EncryptionKey not provided
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EncryptionKeyNotProvidedErrorResponseBody"
        403:
          description: EncryptionKey mismatch
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EncryptionKeyMismatchErrorResponseBody"
        404:
          description: Not found
        409:
          description: Signature invalid
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvalidSignatureErrorResponseBody"
        422:
          description: Unprocessable content
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseBody"
        500:
          description: Internal error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalErrorResponseBody"
        502:
          description: Bad gateway - internal error on AVM microservice
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadGatewayErrorResponseBody"

  /integrations:
    post:
      tags:
        - Integration
        - Minimal Integration
      summary: Integration registers itself at the server
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PostIntegrationRequestBody"
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PostIntegrationResponse"

  /devices:
    post:
      tags:
        - Integration
        - Minimal Integration
      summary: Device registers itself at the server
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PostDeviceRequestBody"
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PostDeviceResponse"

  /device-integrations:
    post:
      tags:
        - Integration
        - Minimal Integration
      security:
        - Device JWT: []
      summary: Device registers itself for receiving sign requests (push notification) from given integration
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PostDeviceIntegrationsRequestBody"
      responses:
        204:
          description: OK

    get:
      tags:
        - Integration
      security:
        - Device JWT: []
      summary: Integration retrieves a list of paired devices
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetDeviceIntegrationsResponseBody"

  /device-integrations/{integration_id}:
    delete:
      tags:
        - Integration
      security:
        - Device JWT: []
      summary: Integration deletes device from its subscribers
      parameters:
        - name: integration_id
          in: path
          description: Identifier of the integration
          example: 0d939eb1-8e14-41e5-9c7e-05e77641cc7b
          required: true
          allowEmptyValue: false
      responses:
        204:
          description: OK
        404:
          description: Not found

  /integration-devices:
    get:
      tags:
        - Integration
      security:
        - Integration JWT: []
      summary: Integration retrieves a list of connected devices
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetIntegrationDevicesResponseBody"

  /integration-devices/{device_id}:
    delete:
      tags:
        - Integration
      security:
        - Integration JWT: []
      summary: Integration deletes device from its subscribers
      parameters:
        - name: device_id
          in: path
          description: Identifier of the device
          example: 03de5319-a40d-48ea-b4fb-29d11e7017bb
          required: true
          allowEmptyValue: false
      responses:
        204:
          description: OK
        404:
          description: Not found

  /sign-request:
    post:
      tags:
        - Integration
        - Minimal Integration
      security:
        - Integration JWT: []
      summary: Integration sends a sign request (push notification) to all paired signing devices
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PostSignRequestBody"
      responses:
        200:
          description: OK

  /qr-code:
    get:
      tags:
        - QR code
      description: |
        Example: `https://autogram.slovensko.digital/api/v1/qr-code?guid=e7e95411-66a1-d401-e063-0a64dbb6b796&key=EeESAfZQh9OTf5qZhHZtgaDJpYtxZD6TIOQJzRgRFgQ%3D&pushkey=R%2FrfN%2Bz129w1H2iftbr1GOKXdC3OxSJU9PZeHs%2BW7ts%3D&integration=eyJhbGciOiJFUzI1NiJ9.eyJzdWIiOiI3OGQ5MWRlNy0xY2MyLTQwZTQtOWE3MS0zODU4YjRmMDMxOWQiLCJleHAiOjE3MTI5MDk3MjAsImp0aSI6IjAwZTAxN2Y1LTI4MTAtNDkyNS04ODRlLWNiN2FhZDAzZDFhNiIsImF1ZCI6ImRldmljZSJ9.7Op6W2BvbX2_mgj9dkz1IiolEsQ1Z2a0AzpS5bj4pcG3CJ4Z8j9W3RQE95wrAj3t6nmd9JaGZSlCJNSV_myyLQ`

        <img src="data:image/svg+xml;base64, PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCFET0NUWVBFIHN2ZyBQVUJMSUMgIi0vL1czQy8vRFREIFNWRyAxLjEvL0VOIiAiaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkIj4KPHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIKd2lkdGg9IjEwNjhweCIgaGVpZ2h0PSIxMDY4cHgiIHZpZXdCb3g9IjAgMCAxMDY4IDEwNjgiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDEwNjggMTA2OCIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+CjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDY4IiBoZWlnaHQ9IjEwNjgiIGZpbGw9InJnYigyNTUsMjU1LDI1NSkiIC8+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMjQsMjQpIj48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg5NiwwKSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDIwNCwwKSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDI0MCwwKSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDI4OCwwKSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDMwMCwwKSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDMyNCwwKSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDMzNiwwKSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDM0OCwwKSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDM2MCwwKSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDQ0NCwwKSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDQ4MCwwKSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDQ5MiwwKSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDUwNCwwKSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDUyOCwwKSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDU0MCwwKSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDU4OCwwKSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDYxMiwwKSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDYzNiwwKSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDY3MiwwKSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDY4NCwwKSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDcwOCwwKSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDc2OCwwKSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDgwNCwwKSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDgxNiwwKSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDgyOCwwKSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDg3NiwwKSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDg4OCwwKSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDkxMiwwKSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDk2LDEyKSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDEyMCwxMikgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgxOTIsMTIpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMjA0LDEyKSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDIxNiwxMikgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgyMjgsMTIpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMjQwLDEyKSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDMzNiwxMikgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgzNjAsMTIpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMzk2LDEyKSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDQyMCwxMikgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg0NDQsMTIpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNDY4LDEyKSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDQ4MCwxMikgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg1MTYsMTIpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNTI4LDEyKSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDU0MCwxMikgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg1NTIsMTIpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNTc2LDEyKSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDYwMCwxMikgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg2MjQsMTIpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNjg0LDEyKSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDY5NiwxMikgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg3MDgsMTIpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNzIwLDEyKSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDczMiwxMikgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg3NDQsMTIpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoODQwLDEyKSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDg1MiwxMikgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg4ODgsMTIpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoOTAwLDEyKSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDEwOCwyNCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgxMjAsMjQpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMTQ0LDI0KSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDE1NiwyNCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgxODAsMjQpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMTkyLDI0KSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDIxNiwyNCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgyNTIsMjQpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMjY0LDI0KSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDI3NiwyNCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgzMTIsMjQpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMzI0LDI0KSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDM0OCwyNCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgzNjAsMjQpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNDA4LDI0KSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDQzMiwyNCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg0NDQsMjQpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNDY4LDI0KSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDQ4MCwyNCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg1MjgsMjQpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNTc2LDI0KSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDYyNCwyNCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg2NDgsMjQpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNjYwLDI0KSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDY3MiwyNCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg2OTYsMjQpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNzIwLDI0KSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDczMiwyNCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg3NDQsMjQpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNzU2LDI0KSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDc2OCwyNCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg3OTIsMjQpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoODA0LDI0KSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDgxNiwyNCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg4MjgsMjQpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoODY0LDI0KSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDg3NiwyNCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg4ODgsMjQpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoOTYsMzYpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMTIwLDM2KSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDEzMiwzNikgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgxNDQsMzYpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMTU2LDM2KSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDE4MCwzNikgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgxOTIsMzYpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMjQwLDM2KSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDI1MiwzNikgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgyNzYsMzYpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMzYwLDM2KSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDQyMCwzNikgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg0MzIsMzYpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNDU2LDM2KSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDQ2OCwzNikgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg1NDAsMzYpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNTY0LDM2KSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDU3NiwzNikgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg2NjAsMzYpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNjg0LDM2KSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDcyMCwzNikgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg3MzIsMzYpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNzQ0LDM2KSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDc1NiwzNikgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg3NjgsMzYpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNzgwLDM2KSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDgxNiwzNikgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg5MDAsMzYpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMTIwLDQ4KSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDE0NCw0OCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgxNTYsNDgpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMTY4LDQ4KSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDE5Miw0OCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgyMDQsNDgpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMjE2LDQ4KSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDIyOCw0OCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgyNjQsNDgpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMjc2LDQ4KSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDMyNCw0OCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgzMzYsNDgpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMzQ4LDQ4KSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDM2MCw0OCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgzNzIsNDgpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMzg0LDQ4KSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDQyMCw0OCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg0MzIsNDgpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNDQ0LDQ4KSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDQ1Niw0OCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg0NjgsNDgpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNTE2LDQ4KSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDUyOCw0OCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg1NDAsNDgpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNTY0LDQ4KSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDU3Niw0OCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg1ODgsNDgpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNjAwLDQ4KSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDYyNCw0OCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg2MzYsNDgpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNjQ4LDQ4KSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDY2MCw0OCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg2NzIsNDgpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNjk2LDQ4KSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDcyMCw0OCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg3NDQsNDgpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNzgwLDQ4KSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDc5Miw0OCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg4NTIsNDgpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoODc2LDQ4KSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDg4OCw0OCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgxMjAsNjApIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMTU2LDYwKSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDIwNCw2MCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgyMjgsNjApIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMjUyLDYwKSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDI2NCw2MCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgyODgsNjApIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMzEyLDYwKSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDMyNCw2MCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgzMzYsNjApIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMzg0LDYwKSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDM5Niw2MCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg0MDgsNjApIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNDIwLDYwKSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDQ0NCw2MCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg0NTYsNjApIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNDgwLDYwKSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDQ5Miw2MCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg1MDQsNjApIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNTE2LDYwKSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDU0MCw2MCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg1NTIsNjApIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNTg4LDYwKSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDYyNCw2MCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg2NzIsNjApIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNjg0LDYwKSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDY5Niw2MCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg3MDgsNjApIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNzQ0LDYwKSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDc5Miw2MCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg4MTYsNjApIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoODUyLDYwKSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDkwMCw2MCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg5Niw3Mikgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgxMjAsNzIpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMTQ0LDcyKSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDE2OCw3Mikgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgxOTIsNzIpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMjE2LDcyKSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDI0MCw3Mikgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgyNjQsNzIpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMjg4LDcyKSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDMxMiw3Mikgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgzMzYsNzIpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMzYwLDcyKSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDM4NCw3Mikgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg0MDgsNzIpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNDMyLDcyKSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDQ1Niw3Mikgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg0ODAsNzIpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNTA0LDcyKSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDUyOCw3Mikgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg1NTIsNzIpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNTc2LDcyKSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDYwMCw3Mikgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg2MjQsNzIpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNjQ4LDcyKSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDY3Miw3Mikgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg2OTYsNzIpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNzIwLDcyKSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDc0NCw3Mikgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg3NjgsNzIpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNzkyLDcyKSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDgxNiw3Mikgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg4NDAsNzIpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoODY0LDcyKSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDg4OCw3Mikgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg5MTIsNzIpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoOTYsODQpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMTIwLDg0KSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDEzMiw4NCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgxNTYsODQpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMTY4LDg0KSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDE4MCw4NCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgyMTYsODQpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMjQwLDg0KSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDI3Niw4NCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgzMzYsODQpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMzg0LDg0KSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDQyMCw4NCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg0MzIsODQpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNDU2LDg0KSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDQ2OCw4NCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg0ODAsODQpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNDkyLDg0KSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDUwNCw4NCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg1NTIsODQpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNTc2LDg0KSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDU4OCw4NCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg2MTIsODQpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNjI0LDg0KSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDY3Miw4NCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg2ODQsODQpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNjk2LDg0KSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDcwOCw4NCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg3MjAsODQpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNzU2LDg0KSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDc2OCw4NCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg4MDQsODQpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoODE2LDg0KSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDgyOCw4NCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg4ODgsODQpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoOTEyLDg0KSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDAsOTYpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMjQsOTYpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMzYsOTYpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNjAsOTYpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNzIsOTYpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoODQsOTYpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMTA4LDk2KSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDE0NCw5Nikgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgxNTYsOTYpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMTgwLDk2KSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDIwNCw5Nikgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgyMTYsOTYpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMjI4LDk2KSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDI3Niw5Nikgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgyODgsOTYpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMzAwLDk2KSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDMxMiw5Nikgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgzMzYsOTYpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMzQ4LDk2KSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDM2MCw5Nikgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgzNzIsOTYpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMzg0LDk2KSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDM5Niw5Nikgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg0MDgsOTYpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNDIwLDk2KSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDQ4MCw5Nikgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg1MDQsOTYpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNTY0LDk2KSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDYxMiw5Nikgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg2MjQsOTYpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNjM2LDk2KSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDY0OCw5Nikgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg2NjAsOTYpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNjcyLDk2KSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDY5Niw5Nikgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg3MzIsOTYpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNzQ0LDk2KSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDc2OCw5Nikgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg3OTIsOTYpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoODA0LDk2KSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDg0MCw5Nikgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg4NjQsOTYpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoOTM2LDk2KSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDk3Miw5Nikgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg5OTYsOTYpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMTAwOCw5Nikgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgwLDEwOCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgyNCwxMDgpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMzYsMTA4KSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDQ4LDEwOCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg4NCwxMDgpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoOTYsMTA4KSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDEwOCwxMDgpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMTIwLDEwOCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgxNDQsMTA4KSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDE2OCwxMDgpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMjA0LDEwOCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgyMTYsMTA4KSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDIyOCwxMDgpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMjQwLDEwOCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgyODgsMTA4KSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDM0OCwxMDgpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMzg0LDEwOCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg0NDQsMTA4KSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDQ2OCwxMDgpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNDgwLDEwOCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg0OTIsMTA4KSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDUwNCwxMDgpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNTE2LDEwOCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg1MjgsMTA4KSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDU3NiwxMDgpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNTg4LDEwOCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg2MjQsMTA4KSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDY4NCwxMDgpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNzIwLDEwOCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg3NDQsMTA4KSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDc2OCwxMDgpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoODI4LDEwOCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg4NTIsMTA4KSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDg2NCwxMDgpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoODg4LDEwOCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg5MDAsMTA4KSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDkyNCwxMDgpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoOTQ4LDEwOCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg5NzIsMTA4KSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDEwMDgsMTA4KSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDM2LDEyMCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg2MCwxMjApIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNzIsMTIwKSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDg0LDEyMCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgxMzIsMTIwKSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDE4MCwxMjApIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMTkyLDEyMCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgyMDQsMTIwKSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDIyOCwxMjApIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMjQwLDEyMCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgyNjQsMTIwKSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDI3NiwxMjApIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMzAwLDEyMCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgzMjQsMTIwKSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDMzNiwxMjApIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMzQ4LDEyMCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgzNjAsMTIwKSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDM3MiwxMjApIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMzg0LDEyMCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgzOTYsMTIwKSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDQwOCwxMjApIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNDMyLDEyMCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg0NTYsMTIwKSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDQ4MCwxMjApIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNDkyLDEyMCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg1MDQsMTIwKSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDUxNiwxMjApIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNjEyLDEyMCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg2NDgsMTIwKSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDY2MCwxMjApIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNjcyLDEyMCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg2OTYsMTIwKSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDcwOCwxMjApIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNzIwLDEyMCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg3MzIsMTIwKSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDc0NCwxMjApIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNzU2LDEyMCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg3ODAsMTIwKSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDc5MiwxMjApIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoODA0LDEyMCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg4NDAsMTIwKSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDg1MiwxMjApIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoODc2LDEyMCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg5MDAsMTIwKSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDk2MCwxMjApIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoOTg0LDEyMCkgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgxMiwxMzIpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMjQsMTMyKSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDM2LDEzMikgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg0OCwxMzIpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNjAsMTMyKSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDg0LDEzMikgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgxMDgsMTMyKSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDEyMCwxMzIpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMTMyLDEzMikgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgxNDQsMTMyKSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDE2OCwxMzIpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMTkyLDEzMikgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgyMDQsMTMyKSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDIyOCwxMzIpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMjQwLDEzMikgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgyNzYsMTMyKSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDMyNCwxMzIpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMzM2LDEzMikgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgzNjAsMTMyKSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDM5NiwxMzIpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNDA4LDEzMikgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg0MzIsMTMyKSBzY2FsZSgwLjEyLDAuMTIpIj48ZyB0cmFuc2Zvcm09IiIgc3R5bGU9ImZpbGw6IHJnYigwLCAwLCAwKTsiPgo8cmVjdCB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIvPgo8L2c+PC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDQ1NiwxMzIpIHNjYWxlKDAuMTIsMC4xMikiPjxnIHRyYW5zZm9ybT0iIiBzdHlsZT0iZmlsbDogcmdiKDAsIDAsIDApOyI+CjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIi8+CjwvZz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNDY4LDEzMikgc2NhbGUoMC4xMiwwLjEyKSI+PGcgdHJhbnNmb3JtPSIiIHN0eWxlPSJmaWxsOiByZ2IoMCwgMCwgMCk7Ij4KPHJlY3Qgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiLz4KPC9nPjwvZz48ZyB0cmFuc
[...]
